h1 {
  color: darkblue;
}
.form {
  display: flex;
  flex-direction: column;
  width: 25%;
  margin-bottom: 20px;
}
a {
  text-decoration: none;
  margin-right: 20px;
  border-radius: 5px;
}
.btn {
  /* background-color: Crimson; */
  border: none;
  color: white;
  /* padding: 15px 32px; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
